AccessControl==6.1
Acquisition==5.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
anyio==3.7.0
async-timeout==4.0.2
attrs==23.1.0
AuthEncoding==5.0
backoff==2.2.1
beautifulsoup4==4.7.1
bibtexparser==1.4.0
blinker==1.6.2
blis==0.7.9
boto3==1.9.147
botocore==1.12.253
breadability==0.1.20
Brotli==1.0.9
bs4==0.0.1
BTrees==5.0
cachetools==5.3.1
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.1
Chameleon==4.0.0
chardet==3.0.4
charset-normalizer==3.1.0
ci-info==0.3.0
click==8.1.3
confection==0.0.4
configobj==5.0.8
configparser==5.3.0
cryptography==41.0.1
currency.converter==0.5.5
CurrencyConverter==0.17.7
cymem==2.0.7
dataclasses-json==0.5.7
DateTime==5.1
decorator==5.1.1
distlib==0.3.6
docopt==0.6.2
DocumentTemplate==4.4
docutils==0.15.2
docx2txt==0.8
duckduckgo-search==3.8.1
et-xmlfile==1.1.0
etelemetry==0.3.0
exceptiongroup==1.1.1
ExtensionClass==5.0
Faker==18.11.1
fasttext==0.9.2
feedparser==6.0.10
filelock==3.12.0
fitz==0.0.1.dev2
Flask==1.0.2
frozenlist==1.3.3
fsspec==2023.5.0
ftfy==6.1.1
future==0.18.3
gibberish==0.4.0
gitdb==4.0.10
GitPython==3.1.31
greenlet==2.0.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html2image==2.0.3
httpcore==0.17.2
httplib2==0.22.0
httpx==0.24.1
hyperframe==6.0.1
idna==2.8
importlib-metadata==6.6.0
importlib-resources==5.12.0
inexactsearch==1.0.2
isbnlib==3.10.14
isbntools==4.3.29
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
jsonschema==4.17.3
jsonschema2md==0.4.0
langchain==0.0.193
langchainplus-sdk==0.0.4
langcodes==3.3.0
latex2mathml==2.16.2
llama-index==0.6.21.post1
looseversion==1.2.0
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
mdurl==0.1.2
multidict==6.0.4
MultiMapping==5.0
multipart==0.2.4
murmurhash==1.0.9
mypy-extensions==1.0.0
networkx==3.1
nibabel==5.1.0
nipype==1.8.6
nltk==3.8.1
numexpr==2.8.4
numpy==1.24.3
openai==0.27.8
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
packaging==23.1
pandas==2.0.2
PasteDeploy==3.0.1
pathlib==1.0.1
pathy==0.10.1
pbr==5.11.1
pdfminer.six==20221105
Persistence==4.0.post1
persistent==5.0
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
platformdirs==3.5.1
preshed==3.0.8
protobuf==4.23.2
prov==2.0.0
pyarrow==12.0.0
pybind11==2.10.4
pycountry==22.3.5
pycparser==2.21
pydantic==1.10.9
pydeck==0.8.1b0
pydot==1.4.2
Pygments==2.15.1
Pympler==1.0.1
PyMuPDF==1.22.5
pyparsing==3.0.9
pyrsistent==0.19.3
pyspellchecker==0.7.2
python-dateutil==2.8.2
python-docx==0.8.11
python-gettext==5.0
python-magic==0.4.18
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyxnat==1.5
PyYAML==6.0
pyzotero==1.5.9
rdflib==6.3.2
regex==2023.6.3
requests==2.31.0
RestrictedPython==7.0a1.dev0
rich==13.4.1
roman==4.1
s3transfer==0.2.1
scipy==1.10.1
sgmllib3k==1.0.0
silpa-common==0.3
simplejson==3.19.1
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
socksio==1.0.0
soundex==1.1.3
soupsieve==2.4.1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.15
srsly==2.4.6
stevedore==5.1.0
streamlit==1.23.1
stripe==5.4.0
sumy==0.11.0
tenacity==8.2.2
thinc==8.1.10
tiktoken==0.4.0
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
traits==6.3.2
transaction==3.1.0
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.24.3
validators==0.20.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
waitress==2.1.2
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.6
WebOb==1.8.7
WebTest==3.0.0
Werkzeug==2.3.5
WSGIProxy2==0.5.1
yarl==1.9.2
z3c.pt==4.0
zc.lockfile==3.0.post1
ZConfig==4.0
zExceptions==4.3
zipp==3.15.0
ZODB==5.8.0
zodbpickle==3.0.1
Zope==5.8.2
zope.annotation==5.0
zope.browser==3.0
zope.browsermenu==5.0
zope.browserpage==5.0
zope.browserresource==5.0
zope.cachedescriptors==5.0
zope.component==6.0
zope.configuration==5.0
zope.container==5.1
zope.contentprovider==5.0
zope.contenttype==5.0
zope.datetime==5.0.0
zope.deferredimport==4.4
zope.deprecation==5.0
zope.dottedname==6.0
zope.event==4.6
zope.exceptions==4.6
zope.filerepresentation==6.0
zope.globalrequest==2.0
zope.hookable==5.4
zope.i18n==5.0
zope.i18nmessageid==6.0.1
zope.interface==6.0
zope.lifecycleevent==4.4
zope.location==5.0
zope.pagetemplate==5.0
zope.processlifetime==3.0
zope.proxy==5.0.0
zope.ptresource==5.0
zope.publisher==6.1.0
zope.schema==7.0.1
zope.security==6.1
zope.sequencesort==5.0
zope.site==4.6.1
zope.size==4.4
zope.structuredtext==5.0
zope.tal==5.0.1
zope.tales==5.2
zope.testbrowser==6.0
zope.testing==5.0.1
zope.traversing==5.0
zope.viewlet==5.0
