[Unit]
Description="launching streamlit"
After=network.target

[Service]
User=wfz
#Group=staff
Restart=always
RuntimeMaxSec=1d
Environment="ALEPH_ALPHA_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo2MDEsInJvbGUiOiJDbGllbnQiLCJjcmVhdGVkIjoxNjUwODU1OTkwMDgzMzM0ODA4fQ.iib2RfCtBVXuS7xRyT7u-K218KeZpjxRnII5PelVd5o"
Environment="ENC_NONCE=nonsensical"
Environment="ENC_PASSWORD=YouWillNeverGuessThisSecretKey32"
Environment="FILE_ROOT=/home/wfz/bookpublisherGPT"
Environment="FORTUNE_BIN=/usr/local/bin/fortune"
Environment="FORTUNE_DATABASE=discworld"
Environment="FORTUNE_FLAG="
Environment="HELICONE_API_KEY=sk-xtdd5sq-nfnun3i-wniz23a-bk3dtli"
Environment="GOOGLE_CSE_ID=a29ef826c9d514f0e"
Environment="GOOGLE_API_ID=AIzaSyBck8Tsogrwxau0vzcIvWepSjtC8tw0KWQ"
Environment="IA_PASSWORD=VDyxmZ2HFeX#FWm"
Environment="IA_USERNAME=fredzannarbor@gmail.com"
Environment="LOCAL_HOST=http://localhost:8501"
Environment="MAIL_PASSWORD=dhVN7i6V70rP"
Environment="MAIL_USERNAME=wfz@nimblebooks.com"
Environment="MNEMONIC=fossil lava stamp earth memory girl card helmet october fuel sadness velvet"
Environment="OPENAI_API_KEY=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"
Environment="OPENAI_CONFIG=/Users/fred/bin/nimble/openai/starter/openai.cfg"
Environment="OPENAI_USER_ID_FOR_SAFETY_TRACKING=6"
Environment="PYTHONPATH=$PYTHONPATH:/home/wfz/bookpublishergpt"
Environment="REPLICATE_API_TOKEN=4f2c454f57fd396a5fad645ba3e72c48d5435586"
Environment="SQLITE_DB=restore.db"
Environment="SQLITE_DB_PATH=./db"
Environment="STORAGE=SQLITE"
Environment="STRIPE_ENDPOINT_SECRET=whsec_198gs6oRRCb3tIAX7W7OuwqJzczMv1UE"
Environment="STRIPE_PREMIUM_PRICE_LINK=https://buy.stripe.com/test_aEUdU23dG4nw2dy9AA"
Environment="STRIPE_PRICE_ID=basic"
Environment="STRIPE_PRICE_ID_2=price_1IqvlKEkhPBoRSzt4dhPWoi7"
Environment="STRIPE_PUBLISHABLE_KEY=pk_test_51HSpP0EkhPBoRSztOW0NZvZG8lNli3dJUt8F40EamesHfanUIr3h4i0l0pxF7B2FmQCbWj7OAulUZu4$"
Environment="STRIPE_SECRET_KEY=sk_test_51HSpP0EkhPBoRSztQiBMFo1YZODqiFmrIeBDV1XWi8KB2OFSniKlWUTBICfHV5kAFlXALU4NrTf1VfC876AoAez000ODzn5pz5"
Environment="STRIPE_STANDARD_PRICE_LINK=https://buy.stripe.com/test_3csg2aeWo8DM05q3cd"
Environment="TESSDATA_PREFIX=/usr/local/share/tessdata"
Environment="TOKENIZERS_PARALLELISM=false"
Environment="TRILLIONS_OPENAI_API_KEY=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"
Environment="URI_SQLITE_DB=db/restore.db"
Environment="ZOTERO_API_KEY=ZDOIGuNQrOfrCxuFPjvETA3f"
Environment="ZOTERO_LIBRARY_ID=8920562"
Environment="ZOTERO_LIBRARY_TYPE=user"

WorkingDirectory=/home/wfz/bookpublishergpt
ExecStart=/bin/sh -c "/home/wfz/.virtualenvs/deploy/bin/activate && /home/wfz/.virtualenvs/deploy/bin/postactivate && /home/wfz/.virtualenvs/deploy/bin/streamlit run --logger.level=error classes/Ideas/Ideas2ReaderPanels.py --server.port=8505"

[Install]
WantedBy=multi-user.target
